# CMake构建输出
out/
build/

# Visual Studio本地缓存
.vs/

# VSCode本地配置（如果你本机设置不想提交就保留；想共享调试配置就删掉下面这一行）
.vscode/
.idea/
CMakeSettings.json
Makefile
Settings/
saves/

# 编译出来的exe、中间产物
*.exe
*.obj
*.pdb
*.ilk

# 系统生成
*.DS_Store
Thumbs.db
